tbody select {
  width: 100%;
  text-align-last: center;
}

 body{
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}

select{
  cursor: pointer;
}

table{
  width: 95%;
}

caption h3 {
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.25em;
  -webkit-margin-start: 1em;
}

tr {
  transition: 120ms ease-in-out;
}

tbody tr:hover{
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}

button #iconePlus, #iconeRelatorio {
  width: 1.1em;
  height: 1.1em;
  top: 35%;
}

#conteudo {
  min-height: 100%;
  position: relative;
}

#botoesRelatoriosInsumo {
  position: fixed;
  right: 0.5em;
  bottom: 1em;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1em;
}

#btnCriaRelatorio, #btnAbrirModalInsumo {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  border: 1px solid var(--cinzaFoggy);
  margin-left: 2vh;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0;
}

#secPrincipal {
  text-align: center;
  min-height: calc(100vh - 18.2em);
}

#btnRegistrarInsumo {
  margin-top: 1em;
  margin-bottom: 1em;
}

#h2Registrar, #h2Registros {
  display: inline-block;
  font-weight: bold;
}

#secInsumo{
  margin-bottom: 100px;
}

#modalRelatorioHistorico{
  width: 90%;
  height: 80%;
  margin-top: 5em;
}

#modalRelatorioHistorico2{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#tabProdutosRegistrados, #tabInsumosRegistrados {
  margin: auto;
  margin-top: 1em;
  width: 70em;
}

#tabProdutosRegistrados {
  margin-bottom: 4em;
}

#capTabProduto, #capTabInsumo {
  border: solid 0.1em var(--verdeCamarone);
  margin-bottom: 0.05em;
}

#h3CaptionProduto, #h3CaptionInsumo {
  display: inline;
  float: left;
  font-weight: bold;
}

#conteudoDivModal h2 {
  color: var(--verdeCamarone);
}

#divPeriodo {
  margin-bottom: 1em;
}

#selPeriodo {
  border-style: none;
  text-align-last: center;
}

#btnRelatorioHistorico {
  margin-bottom: 1em;
}

#modalRelatorioHistorico, #modalRelatorioProducao {
  width: 40em;
  left: calc(50vw - 20em);
  top: calc(50vh - 22em);
  padding: 1em;
  max-height: 41em;;
}

#divModalAvisos{
transition: 2s ease-in-out;
width: 20em;
right: -350px;
top: calc(50vh - 16em);
background-color: var(--brancoIvory);
border: solid 0.25em var(--verdeCamarone);
border-radius: 1em;
}

#divBtnFechar {
  margin-top: 2em;
  align-items: center;
  margin-bottom: 1.25em;
}

#divModalInsumo input{
  display: block;
  margin-bottom: 0.5em;
  width: 95%;
}

#divModalEditarInsumo input{
  display: block;
  margin-bottom: 0.5em;
  width: 95%;
}

#divModalEditarProduto input{
  display: block;
  margin-bottom: 0.5em;
  width: 95%;
}

#divModalInsumo button{
  width: 32%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

#divModalEditarInsumo button{
  width: 32%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

#divModalEditarProduto button{
  width: 32%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

#divModalInsumo {
 text-align: left;
 padding: 0.8em;
}

#divModalEditarInsumo {
 text-align: left;
 padding: 0.8em;
}

#divModalEditarProduto{
 text-align: left;
 padding: 0.8em;
}

#btnConfirmarEditarProduto, #btnConfirmarEditarInsumo{
  position: absolute;
  left: 65%;
}

#divMascara {
  position: absolute;
  z-index: 1;
  background-color: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#divModalCerteza{
  margin-top: 11em;
  padding: 0.5em;
  width: 40%;
  left: 30%;
  text-align: center;
}

#tabelaProduto , #tabelaInsumo{
  width: 100%;
}

.tabProduto, .tabInsumo {
  margin: auto;
}

.selFiltro {
  text-align-last: center;
  border-style: none;
}

.filtroTabela {
  float: right;
  display: inline;
  margin-top: 0.25em;
}

.ocultar {
  display: none !important;
}

.tabFlex {
  flex-wrap: wrap;
  display: flex;
  width: 80em;
  margin: auto;
}

.esconde {
  opacity: 0;
  z-index: -1;
  display: none;
}

.modal {
  width: 20em;
  left: calc(50vw - 10em);
  top: calc(50vh - 16em);
  background-color: var(--brancoIvory);
  border: solid 0.25em var(--verdeCamarone);
  border-radius: 1em;
}

.posDivModal {
  z-index: 2;
  position: fixed;
}

.voltarModal {
  border: solid 1px var(--verdeCamarone);
}

.divBotoes {
  margin-top: 1.5em;
  margin-bottom: 1.25em;
}

.centralizaTabela {
  margin: auto;
}

.aviso{
 width: 20px;
 height: 20px;
 position: relative;
 top: 4px;
 left: 5px;
}
