nav {
  height: 3.2em !important;
}

tbody select {
  width: 100%;
  text-align-last: center;
}

caption h3 {
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.25em;
  -webkit-margin-start: 1em;
}

tr{
  transition: 120ms ease-in-out;
}

tbody tr:hover{
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}

#btnRegistrarInsumo {
  margin-top: 1em;
  margin-bottom: 1em;
}

#h2Registrar, #h2Registros {
  display: inline-block;
  font-weight: bold;
}

#btnCriaRelatorio {
  position: fixed;
  right: 1em;
  bottom: 1em;
  border: 1px solid var(--cinzaFoggy);
}

#btnAbrirModalInsumo {
  position: fixed;
  right: 10em;
  bottom: 1em;
  padding: 3.5vh;
  border-radius: 50%;
  margin-left: 2vh;
  border: 1px solid var(--cinzaFoggy);
}

button img {
  width: 2vh;
  height: 2vh;
  position: absolute;
  top: 35%;
  right: 35%;
}

#tabProdutosRegistrados, #tabInsumosRegistrados {
  margin: auto;
  margin-top: 1em;
}

#tabProdutosRegistrados {
  margin-bottom: 4em;
}

#capTabProduto, #capTabInsumo {
  border: solid 0.1em var(--verdeCamarone);
  margin-bottom: 0.05em;
}

#h3CaptionProduto, #h3CaptionInsumo {
  display: inline;
  float: left;
  font-weight: bold;
}

#conteudoDivModal h2 {
  color: var(--verdeCamarone);
}

#divPeriodo {
  margin-bottom: 1em;
}

#selPeriodo {
  border-style: none;
  text-align-last: center;
}

#btnRelatorioHistorico {
  margin-bottom: 1em;
}

#divBtnFechar {
  margin-top: 2em;
  align-items: center;
  margin-bottom: 1.25em;
}

#divModalInsumo input{
  display: block;
  margin-bottom: 0.5em;
  width: 95%;
}

#divModalEditarInsumo input{
  display: block;
  margin-bottom: 0.5em;
  width: 95%;
}

#divModalEditarProduto input{
  display: block;
  margin-bottom: 0.5em;
  width: 95%;
}

#divModalInsumo button{
  width: 32%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

#divModalEditarInsumo button{
  width: 32%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

#divModalEditarProduto button{
  width: 32%;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

#divModalInsumo {
 text-align: left;
 padding: 0.8em;
}

#divModalEditarInsumo {
 text-align: left;
 padding: 0.8em;
}

#divModalEditarProduto{
 text-align: left;
 padding: 0.8em;
}

#btnConfirmarEditarProduto, #btnConfirmarEditarInsumo{
  position: absolute;
  left: 65%;
}

#divMascara {
  position: absolute;
  z-index: 1;
  background-color: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  overflow: hidden;
}

#divModalCerteza{
  margin-top: 20%;
  padding: 0.5em;
  width: 40%;
  left: 30%;
  text-align: center;
}



#divModal, #modalRelatorioHistorico, #modalRelatorioProducao, #divModalInsumo, #divModalEditarProduto{
  margin-top: 3em;
}
#tabelaProduto , #tabelaInsumo{
  width: 100%;
}
.tabProduto, .tabInsumo {
  margin: auto;
}

.selFiltro {
  text-align-last: center;
  border-style: none;
}

.filtroTabela {
  float: right;
  display: inline;
  margin-top: 0.25em;
}

.ocultar {
  display: none !important;
}

.tabFlex {
  flex-wrap: wrap;
  display: flex;
  width: 80em;
  margin: auto;
}

.conteudo {
  text-align: center;
}

.esconde {
  opacity: 0;
  z-index: -1;
  display: none;
}

.modal {
  width: 20em;
  left: calc(50vw - 10em);
  top: calc(50vh - 20em);
  background-color: var(--brancoIvory);
  border: solid 0.25em var(--verdeCamarone);
  border-radius: 1em;
}

.posDivModal {
  z-index: 2;
  position: fixed;
}

.voltarModal {
  border: solid 1px var(--verdeCamarone);
}

.divBotoes {
  margin-bottom: 1.25em;
}

nav {
  height: 7%;
  width: 100%;
  display: flex;
  background-color: #1d883a;
  align-content: space-around;
  align-items: center;
  position: sticky;
  top:0;
}

nav > h3 {
  width:20%;
  height: 100%;
  text-align: center;
  font-family: 'Niramit' , sans-serif;
  color:white;
  font-size: calc(20px + 1vh);
}
nav > a {
  text-decoration: none;
  width:15%;
  height: 100%;
  text-align: center;
  font-family: 'Niramit' , sans-serif;
  color:white;
  font-size: calc(20px + 1vh);
}

nav > a:hover {
  background-color: #116623;
}

footer {
  height: 50%;
  width: 100%;
  display: flex;
  background-color: #2d2d2d;
}

footer > section {
  width: 15%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer > section > h3 {
  font-family: 'Niramit' , sans-serif;
  font-size: calc(10px + 1.5vh);
  color: white;
}

footer > section > a {
  text-decoration: none;
  font-family: 'Niramit' , sans-serif;
  font-size: calc(10px + 1vh);
  color: #c6c7c9;
}

footer > section > img {
  height: 100px ;
  width:  100px;
}

.redes {
  justify-content: center;
}

.aviso{
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  left: 5px;
}