tbody select {
  width: 100%;
  text-align-last: center;
}

caption {
  text-align: right;
  margin-bottom: 1em;
}

#btnRegistarProduto, #btnRegistrarInsumo {
  margin-top: 2em;
}

#h2TabProduto, #h2Registros {
  display: inline-block;
}

#btnCriaRelatorio {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

#selTabela {
  margin-bottom: 2em;
  border-style: none;
}

#selFiltro {
  text-align-last: center;
}

#secProdutosInsumosRegistrados {
  margin-top: 3em;
}

#tabProdutosRegistrados, #tabInsumosRegistrados {
  margin: auto;
  margin-top: 1em;
}

#tabProdutosRegistrados {
  margin-bottom: 4em;
}

#conteudoDivModal h2 {
  color: var(--verdeCamarone);
}

#divPeriodo {
  margin-bottom: 1em;
}

#selPeriodo {
  border-style: none;
  text-align-last: center;
}

#btnRelatorioHistorico {
  margin-bottom: 1em;
}

#divBtnFechar {
  margin-top: 2em;
  align-items: center;
  margin-bottom: 1.25em;
}

#divMascara {
  position: absolute;
  z-index: 1;
  background-color: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.tabProduto, .tabInsumo {
  margin: auto;
}

.ocultar {
  display: none;
}

.conteudo {
  text-align: center;
}

.esconde {
  opacity: 0;
  z-index: -1;
  display: none;
}

.modal {
  width: 20em;
  left: calc(50vw - 10em);
  top: calc(50vh - 20em);
  background-color: var(--brancoIvory);
  border: solid 0.25em var(--verdeCamarone);
  border-radius: 1em;
}

.posDivModal {
  z-index: 2;
  position: fixed;
}

.voltarModal {
  border: solid 1px var(--verdeCamarone);
}

.divBotoes {
  margin-bottom: 1.25em;
}

nav {
  height: 7%;
  width: 100%;
  display: flex;
  background-color: #1d883a;
  align-content: space-around;
  align-items: center;
  position: sticky;
  top:0;
}

nav > h3 {
  width:20%;
  height: 100%;
  text-align: center;
  font-family: 'Niramit' , sans-serif;
  color:white;
  font-size: calc(20px + 1vh);
}
nav > a {
  text-decoration: none;
  width:15%;
  height: 100%;
  text-align: center;
  font-family: 'Niramit' , sans-serif;
  color:white;
  font-size: calc(20px + 1vh);
}

nav > a:hover {
  background-color: #116623;
}

footer {
  height: 50%;
  width: 100%;
  display: flex;
  background-color: #2d2d2d;
}

footer > section {
  width: 15%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer > section > h3 {
  font-family: 'Niramit' , sans-serif;
  font-size: calc(10px + 1.5vh);
  color: white;
}

footer > section > a {
  text-decoration: none;
  font-family: 'Niramit' , sans-serif;
  font-size: calc(10px + 1vh);
  color: #c6c7c9;
}

footer > section > img {
  height: 100px ;
  width:  100px;
}

.redes {
  justify-content: center;
}
