/* Projeto StayGreen
 * * * * * * * * * * *
 * CSS Geral
 */

:root{
  --brancoIvory: #FDFCF3;
  --verdeCamarone: #1D883A; /* Verde Claro */
  --verdeCrusoe: #126624; /* Verde Escuro */
  --pretoNight: #AAA9A4;
  --cinzaFoggy: #2D2D2E;
}

*:focus{
  outline: none;
}

body{
  font-family: 'Niramit', sans-serif;
  margin: 0;
  background-color: var(--brancoIvory);
  font-size: calc(14px + .2vw);
  color: var(--cinzaFoggy);
}

a{
  color: var(--verdeCrusoe);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

button{
  transition: 200ms;
  cursor: pointer;
  padding: .5em 2em;
  border: none;
  font-family: inherit;
  background-color: var(--verdeCamarone);
  color: var(--brancoIvory);
}

button:hover{
  background-color: var(--verdeCrusoe);
  color: var(--brancoIvory);
}

.botaoInvertido{
  color: var(--verdeCamarone);
  background-color: var(--brancoIvory);
}

.botaoInvertido:hover{
  background-color: var(--verdeCamarone);
  color: var(--brancoIvory);
}

.botaoFantasma{
  border: 1px solid var(--verdeCamarone);
  background-color: transparent;
  color: var(--verdeCamarone);
}

.botaoDesab{
  background-color: grey;
  cursor: not-allowed;
}

.botaoDesab:hover{
  background-color: grey;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 200;
}

input{
  padding: .15em;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

input, button{
  font-size: inherit;
}

select{
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid var(--pretoNight);
  background-color: transparent;
  color: var(--cinzaFoggy);
}

select > option{
  background-color: var(--brancoIvory);
}

table{
  border-collapse: collapse;
  text-align: center;
  background-color: var(--brancoIvory);
}

tfoot{
  background-color: var(--verdeCrusoe);
  color: var(--brancoIvory);
}

th{
  padding: 0em 1em;
  font-weight: normal;
}

thead{
  background-color: var(--verdeCamarone);
  color: var(--brancoIvory);
  border: none;
}

thead > tr{
  border: none;
}

tr{
  border-bottom: 1px solid var(--pretoNight);
  padding: 1em;
}

td > button{
  padding: 0 .5em;
  margin: calc(4px + .1vw);
}
