/*   Autor: Sávio Cardoso
     Grupo 5: patrimônio
     líder: Mei Fagundes */

/*Importações*/
@import url('https://fonts.googleapis.com/css?family=Niramit');


/*body*/
body{
    background-color: #FDFCF3 !important;
}

#comprar, #entrada, #saida, #tabela{
    padding: 3em;
}


/*Tabela*/
table{
    width:100%;
}

td{
    padding: 0.5em;
}

thead {
    color: white;
    background-color: #1e8939;
}


/*Botões*/
#menu button{
    float: left;
    font-weight: bold;
    width: 100%; /*varia de acordo com o número de botões no menu*/
}

button:focus{
    outline: none !important;
}

#menu button:not(:last-child) {
    border-right: none; /* Previne bordas duplas */
}

#cancelar{
    float: right;
}

#cancelar:hover{
    background-color: #1D883A;
    color: #FDFCF3;
}

#addPatrimonio{
    float: right;
    height: 4em;
    width: 3em;
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 50%;
}

/*selects e inputs/label*/
#toolbar li{
    list-style:: none;
}

#toolbar {
    display: block;
    position: absolute;
    right: 3em;
    padding-top: 1em;
}

input{
    display:block;
}

input:focus{
    outline-style: none;
}

label{
    cursor: pointer;
}


/*Modal*/
.div-modal{
    z-index: -1;
    opacity: 0;
    transform: scale(0.9);
    transition: 200ms ease-in;
    background-color: white;
    border: 0.5em solid #1e8939;
    border-radius: 2.5em;
    position: fixed;
    top: calc(50vh - 20vh);
    left: calc(50vw - 20vh);
    height: 40vh;
    width: 40vh;
}

.aparece{
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    transition: 300ms ease-in;
}

#comprar{
    height: 60vh;
}
