/*   Autor: Sávio Cardoso
     Grupo 5: patrimônio
     líder: Mei Fagundes */

@import url('https://fonts.googleapis.com/css?family=Niramit');

#toolbar li{
    list-style: none;
}

table {
    width:100%;
}

td {
    padding: 0.5em;
}

button{
    cursor: pointer;
}
 #menu button {
    background-color:#1e8939; /* Green */
    border: 1px solid #1e8939;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left; /*inline-block is ignored due to the float. If 'float' has a value other than 'none', the box is floated and 'display' is treated as 'block'*/
    transition: all 0.5s;
    font-weight: bold;
    width: 50%;
}

#menu button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

#toolbar {
    display: block;
    position: absolute;
    right: 3em;
    padding-top: 1em;
}
#comprar{
   display: none;
}
html {
  font-family: 'Niramit';
}

body{
  height: 100%;
  width: 100%;
    margin: 0;
    background-color: #fafaf2 !important;
}
#comprar, #entrada, #saida, #tabela{
    padding: 3em;
}
thead {
    color: white;
    background-color: #1e8939;
}

#menu button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#menu button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#menu button:hover span {
  padding-right: 25px;
}

#menu button:hover span:after {
  opacity: 1;
  right: 0;
}
#menu button:focus{
  outline-style: none;
}
input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
  background-color: #fafaf2;
}
input:focus{
    outline-style: none;
}
label{
    cursor: pointer;
}
.div-modal{
  z-index: -1;
  opacity: 0;
  transform: scale(0.9);
  transition: 200ms ease-in;
  background-color: white;
  border: 0.5em solid #1e8939;
  border-radius: 2.5em;
  position: fixed;
  top: calc(50vh - 20vh);
  left: calc(50vw - 20vh);
  height: 40vh;
  width: 50vh;
  top: calc();
  /*left: 50%;*/
}
.aparece{
  z-index: 1;
  opacity: 1;
  transform: scale(1);
  transition: 300ms ease-in;
}
#cancelar{
  float: right;
}
