/*
:root{
  --brancoIvory: #FDFCF3;
  --verdeCamarone: #1D883A; // Verde Claro
  --verdeCrusoe: #126624;  Verde Escuro
  --pretoNight: #AAA9A4;
  --cinzaFoggy: #2D2D2E;
}
 */

body{
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--brancoIvory);
}
main{
  width: 90vw;
  margin: 0 auto;
  font-size: calc(7px + 2vh);
}
main > table{
  width:100%;
  margin-top: 5vh;
}
main > .div-botoes {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#mascara {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  background-color:transparent;
  position: fixed;
  left:0;
  top:0;
  transition: all 300ms ease-in-out;
}
#div-encaminhamentos, #div-faturamentos, #div-resultados, #div-registra {
  transition: all 300ms ease-in-out;
  position: fixed;
  left: 50vw;
  top: 50vh;
  opacity: 0;
  margin-top: -35vh;
  margin-left: -35vw;
  transform: scale(.5);
  z-index: -1;
  width: 70vw;
  height: 70vh;
  background-color: rgba(22, 66, 31, 0.97);
  cursor: pointer;
  display: flex;
  padding:2%;
  flex-direction: column;
  overflow-y:auto;
}
#mascara.aparece, #div-encaminhamentos.aparece, #div-faturamentos.aparece, #div-resultados.aparece, #div-registra.aparece{
  opacity: 1;
  transform: scale(1);
  z-index: 1;
  transition: all 300ms ease-in-out;
}
#div-registra > label{
  color:var(--brancoIvory);
  font-family:  'Niramit' , sans-serif;
  font-size: calc(10px + 1vh);
}
#div-registra > h1 {
  color:var(--brancoIvory);
  font-family:  'Niramit' , sans-serif;
  font-size: calc(15px + 1.5vh);
}
#div-registra > label > input , #div-registra > label > select {
  color:var(--brancoIvory);
  font-family:  'Niramit' , sans-serif;
  border:none;
  border-bottom: 1px solid var(--brancoIvory);
  font-size: calc(10px + 1vh);
  background-color: transparent;
  margin-left: .5vw;
  margin-top: .6vh;
}
#div-registra > label > select > option {
  background-color: rgba(22, 66, 31, .97);
}
.div-botoes{
  display: flex;
  justify-content: center;
}
#div-registra > .div-botoes > button  {
  width: 7vw;
  height: 5vh;
  padding:0;
  border: 1px solid var(--brancoIvory);
  color:var(--brancoIvory);
  font-family:  'Niramit' , sans-serif;
  cursor: pointer;
  font-size: calc(10px + 1vh);
  background-color: transparent;
  margin-left: 1vw;
  margin-bottom:2vh;
  margin-top: 1vh;
}
#div-registra > .div-botoes  >  button:hover {
  color: rgba(22, 66, 31);
  background-color: var(--brancoIvory);
}
