/*   Autor: Sávio Cardoso
     Grupo 5: patrimônio
     líder: Mei Fagundes */

/*Importações*/
@import url('https://fonts.googleapis.com/css?family=Niramit');

/*body*/
html{
    font-family: 'Niramit', sans-serif;
}

body{
    background-color: #FDFCF3 !important;
    width:100vw;
}

button{
    transition: 150ms ease-in-out;
}

button:hover{
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
}

input:focus{
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.3);
}

#noResults p:nth-child(1){
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

#noResults p:nth-child(2){
    text-align: center;
    font-weight: lighter;
    font-size: 1.5em;
}

h1{
    text-align: center;
    margin-bottom: 0;
    font-size: 2.2em;
}

.escurece{
    background-color: black;
    margin: 0;
}

nav > h3{
     width:21vw !important;
}


/*Tabela*/
#tabela{
    padding-top: 1em;
    width: 98vw;
    font-size: 0.9em;
    margin: 0 auto;
}

td{
    padding: 0.5em;
    cursor: default;
}

thead {
    color: white;
    background-color: #1e8939;
}

th{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    width: 50vw;
}

tr{
    transition: 100ms ease-in-out;
}

tr:hover{
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
}


/*Botões*/
#menu button{
    float: left;
    font-weight: bold;
    width: 100%; /*varia de acordo com o número de botões no menu*/
}

button:focus{
    outline: none !important;
}

#menu button:not(:last-child) {
    border-right: none; /* Previne bordas duplas */
}

#cancelar{
    float: right;
}

#cancelar:hover{
    background-color: #1D883A;
    color: #FDFCF3;
}

#addPatrimonioButton{

    position: fixed;
    bottom: 4vh;
    right: 4vh;
    float: right;
    padding: 3.5vh;
    border-radius: 50%;
}

#addPatrimonioButton img{
    image-rendering: optimizeQuality;
    width: 2vh;
    height: 2vh;
    position: absolute;
    top: 35%;
    right: 35%;
}

[id|=edit], [id|=delete]{
    display: block;
}

/*selects e inputs/label*/
#toolbar li{
    list-style: none;
}

#toolbar {
    display: flex;
    right: 3em;
    width: 100%;
    padding-top: 0.5em;
    margin-bottom: 1em;
    align-content: flex-end;
    flex-direction: row-reverse;
}

input{
    display:block;
}

input:focus{
    outline-style: none;
}

label{
    
}

.div-modal input, .div-modal select, .div-modal div{
    margin-bottom: 1em;
}


/*Modal*/
.mascara{
  z-index: -1;
  opacity: 0;
  height: 150vh;
  width: 150vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top:0;
}
.div-modal{
    z-index: 1;
    transition: 300ms ease-in-out;
    background-color: white;
    border: 0.5em solid #1e8939;
    border-radius: 2.5em;
    position: fixed;
    top: 20vh;
    left: calc(50vw - 11em);
    width: 22em;
    margin-top: -5em;
    padding: 2em;
    font-size: 0.95em;
}
.div-modal input{
    width: 100%;
}
.div-modal label{
    display: block;
}

.aparece-fundo-escuro{
    z-index: 1;
    opacity: 1;
    transition: 300ms ease-in;
}

.esconde{
    transform: scale(0.8);
    z-index: -1;
    opacity: 0;
    transition: 300ms ease-in-out;
}


.container-modal{
    bottom: 0;
    position: absolute;
    width: 100%;
    right: 0;
}

.container-modal button{
    display: inline-block;
    position: relative;
    bottom: -2.5em;
    margin-left: 3.6em;
    border-radius: 0.8em;
}

.conteudo button{
    margin-left: 1.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.conteudo input{
    max-width: 90%;
}

.conteudo{
    padding-left: 0.1em;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70vh;
    max-width: 80vw;
    width: 23em;
}

[id|=edit]{
    padding-right: 0.8em;
    padding-left: 0.8em;
    border-radius: 0.3em;
    margin-left: 3.5em;
}

[id|=delete]{
    border-radius: 0.3em;
    margin-left: 3.5em;
}

#errorModal{
    z-index: 1;
    transform: scale(0.9);
    transition: 300ms ease-in;
    background-color: white;
    border: 0.3em solid #E1170F;
    border-radius: 1.5em;
    position: fixed;
    bottom: 3vh;
    left: 1vw;
    width: 8em;
    padding: 0.8em;
    text-align: left;

}

.shadow{
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
}
