@import url('https://fonts.googleapis.com/css?family=Niramit');

html{
    font-family: 'Niramit', sans-serif;
}

body{
    background-color: #FDFCF3 !important;
    width:100%;
}

h1{
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
}

h2{
    text-align: center;
}