@font-face {
    font-family: 'Niramit';
    src: url('Niramit/Niramit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'Niramit';
}

body{
    background-color: #FDFCF3 !important;
    width:100%;
}

h1{
    text-align: center !important;
}

h2{
    text-align: center !important;
}
