@import url('https://fonts.googleapis.com/css?family=Niramit');



body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Niramit', sans-serif;
}
form > label{
  display: grid;
  margin: 0.9em;
}
th{
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  width: 50vw;
}
.editar-conteudo > #filtro2 > label{
  display: grid;
  margin: 0.9em;
}
#relatorio h1 {
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 2em;
}
#filtro2 > label, span > label{
  display: block;
  margin-bottom: 1.5em;
}
table{
  width: 100%;
}

#TituloPagina{
   text-align: center;
}
#TituloNav{
   font-size: 20px;
   font-weight: bold;
}
#exemplobotão{
  height: 6em;
  width: 6em;
  border-radius: 50%;
  border: 1px solid red;
  margin-left: 2em;
  margin-right: 2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 9px #999;
}
#filtro{
  text-align: end;
  padding: 1em;
}
#venda,#envio,#descarte{
  display: none;
}
#botaoCadastro{
  margin-left: 1em;
}
#tabela{
  padding-top: 1em;
    width: 98%;
    font-size: 0.9em;
    margin: 0 auto;
}


.saidas-conteudo #filtro{
  text-align: left;
}
.opcoes{
   text-align: left;
   margin-bottom: 1em;
}
.botaoOpcao:hover {
   background-color: #3e8e41
}
.botaoOpcao:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.valores,.editar-conteudo,.relatorio{
  text-align: center;
   background-color: #FDFCF3;
   margin: 6% 33%;
   padding: 20px;
   border: 0.4em solid #1D883A;
   width: 30%;
   border-radius: 20px;
   position: fixed;
   z-index: 3;
}
.valores_fundo,.saidas,.editar,.relatorioModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: unset;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.relatorio > .fecharModal{
  position: sticky;
  top: 1em;
}
.relatorio{
  text-align: justify;
  background-color: #FDFCF3;
  margin: 1% 27%;
  padding: 20px;
  border: 0.4em solid #1D883A;
  width: 58vh;
  border-radius: 20px;
  position: fixed;
  z-index: 3;
  overflow-y: auto;
  height: 90vh;
  padding: 3vh;
}

.tabelaDeMaquinas{
    display: inline;
    width:99%;
    border: 7px double;
    border-color: black;
    margin-top: 12px;
}
.maquinas{
  display: inline;
  width: 100%;
}
.TituloNome{
    font-weight: bold;
}
.saidas-conteudo {
    background-color: #FDFCF3;
    margin: 15% auto;
    padding: 20px;
    border: 0.4em solid #1D883A;
    width: 30%;
    border-radius: 20px;
}
.fecharModal{
  transition: 200ms;
  cursor: pointer;
  padding: 0.1em 0.8em;
  float: right;
  border: none;
  border-radius: 100%;
  font-family: inherit;
  background-color: var(--verdeCamarone);
  color: var(--brancoIvory);
}
.fecharModal:hover{
  background-color: var(--verdeCrusoe);
  color: var(--brancoIvory);
}
button[name='botaoRelatorio']{
  width: fit-content;
  margin: 3vh 1vh;
}
button[name='botaoCadastro']{
  width: fit-content;
  margin: 0vh 1vh;
}
